* {

    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {

    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*-----------------------*/


body {
    font-family: Arial, serif;
    font-size: 14px;
    box-sizing: border-box;

}

.container {
    margin: 50px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    color: #445161;
    padding-bottom: 20px;
}

.header p {

    line-height: 25px;
}

.header,.center,.bottom {
    margin-bottom: 50px;
}


h2 {

    font-size: 25px;
    line-height: 30px;
    color: #445161;
    padding-bottom: 20px;

}

.center p {

    font-weight: 600;
}

.center p span {
    color: red;
}

.bottom {
    text-align: left;
}

.alignright {

    text-align: right;
}

h3 {

    font-size: 20px;
    line-height: 30px;
    color: #445161;
    padding-bottom: 20px;

}

p.uppercase {
    text-align: left;
    text-transform: uppercase;
}

.italic {

    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.aligncenter {


    text-align: center;
}

.size {

    font-size: 24px;

}

.linethrough {

    text-decoration: line-through;
}

.familyfont {

    font-family: 'Times New Roman', serif;
}

.shadow {

    text-shadow: 1px 1px 5px #000;
}